# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python virtual environment
.venv
venv
*.venv

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Local development files
.vscode/
.idea/
*.iml